<div class="container">
    <div class="row text-center">
        <h2>Lending Club Predictor</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Input Parameters</h3>
            <hr>
            <form id="ze-form" class="form-horizontal" role="form" action="/" method="post" enctype="multipart/form">
                <div class="form-group">
                    <!-- fields for the model -->
                    {{#params}}
                    <div class="row">
                        <label for="account_length" class="col-sm-4 control-label">Account Length</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="account_length" min="0" max="1000" step="1" value="{{ account_length }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="state" class="col-sm-4 control-label">State</label>
                        <div class="col-sm-8">
                            <select id="state" class="form-control">
                                <option>AL</option>
                                <option>AK</option>
                                <option>AZ</option>
                                <option>AR</option>
                                <option>CA</option>
                                <option>CO</option>
                                <option>CT</option>
                                <option>DE</option>
                                <option>FL</option>
                                <option>GA</option>
                                <option>HI</option>
                                <option>ID</option>
                                <option>IL</option>
                                <option>IN</option>
                                <option>IA</option>
                                <option>KS</option>
                                <option>KY</option>
                                <option>LA</option>
                                <option>ME</option>
                                <option>MD</option>
                                <option>MA</option>
                                <option>MI</option>
                                <option>MN</option>
                                <option>MS</option>
                                <option>MO</option>
                                <option>MT</option>
                                <option>NE</option>
                                <option>NV</option>
                                <option>NH</option>
                                <option>NJ</option>
                                <option>NM</option>
                                <option>NY</option>
                                <option>NC</option>
                                <option>ND</option>
                                <option>OH</option>
                                <option>OK</option>
                                <option>OR</option>
                                <option>PA</option>
                                <option>RI</option>
                                <option>SC</option>
                                <option>SD</option>
                                <option>TN</option>
                                <option>TX</option>
                                <option>UT</option>
                                <option>VT</option>
                                <option>VA</option>
                                <option>WA</option>
                                <option>WV</option>
                                <option>WI</option>
                                <option>WY</option>
                            </select>
                        </div>
                    </div>
                    {{/params}}
                </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="number" class="btn btn-default btn-block">Calculate Churn Prob</button>
                </div>
              </div>
            </form>
        </div>
        <div class="col-sm-6">
            <!-- stuff the results here... -->
            <h3>Results</h3>
            <hr>
            <h5>P(default)</h5>
            <div class="progress">
                <div id="pg-bar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; min-width: 20px;">
                    <span class=""></span>
                </div>
            </div>
            <h5>Raw Data</h5>
            <pre id="results">
{}
            </pre>
        </div>
    </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
    $("#ze-form").submit(function(e) {
        e.preventDefault();
        $("#results").text("Making prediction...");
        var data = {

        };
        $("#ze-form .form-control").each(function(i, d) {
            var value = $(d).val();
            if (/[0-9]+/.test(value)) {
                value = parseFloat(value);
            }
            data[$(d).attr("id")] = value;
        })
        $.ajax({
            method: 'POST',
            url: '/',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function(data) {
                $("#results").html(JSON.stringify(data, null, 2));
                $("#pg-bar").css("width", 100*data.result.prob_default[0] + "%");
                $("#pg-bar span").text((100*data.result.prob_default[0]).toFixed(0) + "%");
            }
        });
        return false;
    });
});
</script>
