<div class="container">
    <div class="row text-center">
        <h2>Churn Predictor</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <h3>Input Parameters</h3>
            <hr>
            <form id="ze-form" class="form-horizontal" role="form" action="/" method="post" enctype="multipart/form">
                <div class="form-group">
                    <!-- fields for the model -->
                    {{#params}}
                    <div class="row">
                        <label for="account_length" class="col-sm-4 control-label">Account Length</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="account_length" min="1" max="243" step="1" value="{{ account_length }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="area_code" class="col-sm-4 control-label">Area Code</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="area_code" min="408" max="510" step="1" value="{{ area_code }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="vmail_plan" class="col-sm-4 control-label">VMail Plan?</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="vmail_plan" name="vmail_plan">
                            <option>no</option>
                            <option>yes</option>
                          </select>
                        </div>
                    </div>
                       
                   <div class="row">
                       <label for="vmail_message" class="col-sm-4 control-label">VMail Message</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="vmail_message" min="0" max="51" step="1" value="{{ vmail_message }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="day_mins" class="col-sm-4 control-label">Day Mins</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="day_mins" min="0" max="350" step="1" value="{{ day_mins }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="day_calls" class="col-sm-4 control-label">Day Calls</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="day_calls" min="0" max="165" step="1" value="{{ day_calls }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="day_charge" class="col-sm-4 control-label">Day Charge</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="day_charge" min="0" max="60" step="1" value="{{ day_charge }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="eve_minutes" class="col-sm-4 control-label">Evening Minutes</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="eve_minutes" min="0" max="364" step=".1" value="{{ eve_minutes }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="eve_calls" class="col-sm-4 control-label">Evening Calls</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="eve_calls" min="0" max="170" step="1"  value="{{ eve_calls }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="eve_charge" class="col-sm-4 control-label">Evening Charge</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="eve_charge" min="0" max="31.9" step=".1" value="{{ eve_charge }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="night_mins" class="col-sm-4 control-label">Night Minutes</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="night_mins" min="23.2" max="395" step=".1" value="{{ night_mins }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="night_calls" class="col-sm-4 control-label">Night Calls</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="night_calls" min="33" max="175" step="1" value="{{ night_calls }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="night_charge" class="col-sm-4 control-label">Night Charge</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="night_charge" min="1" max="17.7" step=".1" value="{{ night_charge }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="intl_plan" class="col-sm-4 control-label">International Plan?</label>
                        <div class="col-sm-8">
                          <select class="form-control" id="intl_plan" name="intl_plan">
                            <option>no</option>
                            <option>yes</option>
                          </select>
                        </div>
                    </div>

                    <div class="row">
                        <label for="intl_mins" class="col-sm-4 control-label">International Minutes</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="intl_mins" min="0" max="20" step=".1" value="{{ intl_mins }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="intl_calls" class="col-sm-4 control-label">International Calls</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="intl_calls" min="0" max="20" step="1"  value="{{ intl_calls }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="intl_charge" class="col-sm-4 control-label">International Charge</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="intl_charge" min="0" max="5.4" step=".1" value="{{ intl_charge }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="custserv_calls" class="col-sm-4 control-label">Customer Service Calls</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="custserv_calls" min="0" max="9" step="1" value="{{ custserv_calls }}">
                        </div>
                    </div>

                    <div class="row">
                        <label for="state" class="col-sm-4 control-label">State</label>
                        <div class="col-sm-8">
                            <select id="state" class="form-control">
                                <option>AL</option>
                                <option>AK</option>
                                <option>AZ</option>
                                <option>AR</option>
                                <option>CA</option>
                                <option>CO</option>
                                <option>CT</option>
                                <option>DE</option>
                                <option>FL</option>
                                <option>GA</option>
                                <option>HI</option>
                                <option>ID</option>
                                <option>IL</option>
                                <option>IN</option>
                                <option>IA</option>
                                <option>KS</option>
                                <option>KY</option>
                                <option>LA</option>
                                <option>ME</option>
                                <option>MD</option>
                                <option>MA</option>
                                <option>MI</option>
                                <option>MN</option>
                                <option>MS</option>
                                <option>MO</option>
                                <option>MT</option>
                                <option>NE</option>
                                <option>NV</option>
                                <option>NH</option>
                                <option>NJ</option>
                                <option>NM</option>
                                <option>NY</option>
                                <option>NC</option>
                                <option>ND</option>
                                <option>OH</option>
                                <option>OK</option>
                                <option>OR</option>
                                <option>PA</option>
                                <option>RI</option>
                                <option>SC</option>
                                <option>SD</option>
                                <option>TN</option>
                                <option>TX</option>
                                <option>UT</option>
                                <option>VT</option>
                                <option>VA</option>
                                <option>WA</option>
                                <option>WV</option>
                                <option>WI</option>
                                <option>WY</option>
                            </select>
                        </div>
                    </div>
                    {{/params}}
                </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="number" class="btn btn-default btn-block">Calculate Churn Prob</button>
                </div>
              </div>
            </form>
        </div>
        <div class="col-sm-6">
            <!-- stuff the results here... -->
            <h3>Results</h3>
            <hr>
            <h5>P(Churn)</h5>
            <div class="progress">
                <div id="pg-bar-churn" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%; min-width: 20px;">
                    <span class=""></span>
                </div>
            </div>
            <h5>Expected Loss</h5>
            <div class="progress">
                <div id="pg-bar-loss" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="400" style="width: 0%; min-width: 20px;">
                    <span class=""></span>
                </div>
            </div>
            <h5>Raw Data</h5>
            <pre id="results">
{}
            </pre>
        </div>
    </div>
</div>


<script type="text/javascript">
$(document).ready(function() {
    $("#ze-form").submit(function(e) {
        e.preventDefault();
        $("#results").text("Making prediction...");
        var data = {

        };
        $("#ze-form .form-control").each(function(i, d) {
            var value = $(d).val();
            if (/[0-9]+/.test(value)) {
                value = parseFloat(value);
            }
            data[$(d).attr("id")] = value;
        })
        $.ajax({
            method: 'POST',
            url: '/',
            data: JSON.stringify(data),
            contentType: "application/json",
            success: function(data) {
                $("#results").html(JSON.stringify(data, null, 2));
                $("#pg-bar-churn").css("width", 100*data.result.churn_prob[0] + "%");
                $("#pg-bar-churn span").text((100*data.result.churn_prob[0]).toFixed(0) + "%");
                $("#pg-bar-loss").css("width", 100*data.result.expected_loss[0] + "%");
                $("#pg-bar-loss span").text((100*data.result.expected_loss[0]).toFixed(0) + "%");
            }
        });
        return false;
    });
});
</script>
